
main {
    flex: 1;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 30px solid #05365E;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo img {
    height: 5rem;
}






