
main[b-j65y7q72mt] {
    flex: 1;
}

.top-row[b-j65y7q72mt] {
    background-color: #f7f7f7;
    border-bottom: 30px solid #05365E;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo img[b-j65y7q72mt] {
    height: 5rem;
}






