main[b-x0adpbawup] {
    margin-top: 30px;
   
}

.wrapper[b-x0adpbawup] {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title[b-x0adpbawup] {
    
    text-align: left;
    width: 100%;
    max-width: 1200px;
    border-bottom: 3px solid #656565;
    
}

.title span[b-x0adpbawup]{
    font-size: 1rem;
    font-weight: normal;
    margin-left: 10px;
    
}

.content[b-x0adpbawup] {
    border-radius: 10px;
    background-color: #E9E9E9;
    margin-top: 50px;
}

.content h3[b-x0adpbawup] {
    color: #2A4800;
    font-size: 1.25rem;
    
}

.description[b-x0adpbawup] {
    padding: 2rem;
    border-radius: 8px;
    
}

.description li[b-x0adpbawup] {
    margin-bottom: 0.5rem;
    color: #333;
}

.description h2[b-x0adpbawup] {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.zipCode_box[b-x0adpbawup]{
    background-color: #C2CFB2;
    padding: 2rem;
    border-radius: 10px;
}

.zipCode_box .check-button[b-x0adpbawup] {
    background-color: #487B00;
    width: 127px;
    height: 43px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: white;
   
}


.questions_box[b-x0adpbawup] {
    background-color: #BAD6FF;
    padding: 2rem;
    border-radius: 10px;
}

