.body {
    margin-top: 30px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
    
    text-align: left;
    width: 100%;
    max-width: 1200px;
}

.title span{
    font-size: 1rem;
    font-weight: normal;
    margin-left: 10px;
    
}


.content {
    border-radius: 10px;
    background-color: #E9E9E9;
    margin-top: 20px;
}

.content h3 {
    color: #2A4800;
    font-size: 1.25rem;
    
}

.description {
    padding: 2rem;
    border-radius: 8px;
    
}

.description li {
    margin-bottom: 0.5rem;
    color: #333;
}

.description h2 {
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.zipCode_box{
    background-color: #C2CFB2;
    padding: 2rem;
    border-radius: 10px;
}

.zipCode_box .check-button {
    background-color: #487B00;
    width: 127px;
    height: 43px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: white;
   
}


.questions_box {
    background-color: #BAD6FF;
    padding: 2rem;
    border-radius: 10px;
}

